<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<connectionStrings>
		<add name="ConexaoBD" connectionString="Provider=SQLOLEDB.1;Persist Security Info=False;
			 User ID=sa;Initial Catalog=Cod3rs_Growth;Data Source=INVENT135; 
			 Initial Catalog=Cod3rs_Growth;User ID=sa; Password=sap@123"
		       ="" providerName="System.Data.Client"/>
	</connectionStrings>
</configuration>
